@import url("https://use.typekit.net/sgc6ndu.css");

html,
body {
  font-size: 14px;
  font-family: "inter-variable", sans-serif;
  /* font-variation-settings: "slnt" 0, "wght" 400; */
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  --tw-leading: 1;
  line-height: 1;
}

h1 {
  font-size: 2.75rem;

}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 1000;
}

h3 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 1000;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 1000;
}

h5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
  color: #202020;
}

@media (min-width: 750px) {

  html,
  body {
    font-size: 0.94vw;
  }

  h1 {
    font-size: 4rem;

  }

  h2 {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 1000;
  }

  h3 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 1000;
  }

  h4 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 1000;
  }

  h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: #202020;
  }
}

@media (min-width: 1440px) {

  html,
  body {
    font-size: 16px;
  }
}